<!DOCTYPE html>
<html lang="id">
<head>
  <%- include('../partials/head', { title: 'Tambah Jenis Barang' }) %>
  <meta http-equiv="refresh" content="0; URL=/jenis-barang">
</head>
<body>
  <%- include('../partials/navbar') %>
  <%- include('../partials/sidebar') %>
  <main class="ml-64 mt-16 p-6">
    <p>Redirecting to jenis barang list...</p>
  </main>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
</body>
</html>
