<!DOCTYPE html>
<html lang="id">
<head>
  <%- include('../../partials/head', { title: 'Edit Rak' }) %>
  <meta http-equiv="refresh" content="0; URL=/warehouse/racks">
</head>
<body>
  <%- include('../../partials/navbar') %>
  <%- include('../../partials/sidebar') %>
  <main class="ml-64 mt-16 p-6">
    <p>Redirecting to racks list...</p>
  </main>
  <%- include('../../partials/footer') %>
  <%- include('../../partials/scripts') %>
</body>
</html>
